.grid {
  display: grid;
  height: 500px;
  width: 500px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #F6F9ED, white);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.flexContainer {
  display: flex;
  column-gap: 25px;
  margin-top: 40px;
}

.leftSection {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

h1 {
  font-size: 45px;
}

.rightSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
}

.black, .gray, .random, .reset {
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 15px;
  transition: all 0.15s;
}

.black {
  background-color: black;
  color: white;
  border: 2px solid black;
}

.gray {
  background-color: gray;
  color: white;
  border: 2px solid gray;
}

.random {

  background-image: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  color: white;
  border: black 2px solid;
}

.reset {
  background-color: wheat;
  color: white;
}

.black, .gray, .random, .reset:hover {
  cursor: pointer;
}

.black:hover {
  background-color: white;
  color: black;
}

.gray:hover {
  background-color: white;
  color: gray;
}

.random:hover {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
  -webkit-background-clip: text;
  color: transparent;
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.reset:active {
  background-color: white;
  color: wheat;
}

.submit {
  padding: 8px 15px;
  background-color: white;
  font-weight: bold;
  border: 1px solid black;
}

.submit:hover {
  cursor: pointer;
}

.submit:active {
  box-shadow: 2px 2px 5px gray;
}

#inputSize {
  width: 72px;
  border: 1px solid black;
}

h1 {

}